{% extends "base.html" %}

{% block content%}
    {% if note.is_public %}
        <p class="text-warning bg-secondary"> This note is public. </p>
    {% endif %}
    <h3>{{ note.title }}</h3>
    <p>{{ note.text }}</p>
    <p> Likes: {{ note.likes }}

<form method="POST" action="{% url 'notes.add_like' pk=note.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-info">Like</button>
</form>

<form method="POST" action="{% url 'notes.change_visibility' pk=note.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning">
        {% if note.is_public %}
            Make private
        {% else %}
            Make public
        {% endif %}
    </button>
</form>

<a href="{% url 'notes.list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'notes.update' pk=note.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">Delete</a>
{% endblock %}